anndata==0.7.6
anyio==3.3.2
arboreto==0.1.6
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
bleach==4.1.0
boltons==20.2.1
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.0
cloudpickle==1.6.0
colorama==0.4.4
cryptography==3.1
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.4.1
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.3
distributed==2021.4.1
entrypoints==0.3
frozendict==2.0.2
fsspec==2021.4.0
get-version==2.2
googledrivedownloader==0.4
h5py==2.10.0
HeapDict==1.0.1
idna==3.1
importlib-metadata==4.8.1
interlap==0.2.7
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.5
jsonschema==4.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.11.1
jupyterlab==3.1.17
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kiwisolver==1.3.1
kneed==0.7.0
legacy-api-wrap==1.2
lisa2==2.2.5
llvmlite==0.36.0
locket==0.2.1
loompy==3.0.6
MarkupSafe==2.0.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.2
multiprocessing-on-dill==3.5.0a4
natsort==7.1.1
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.4
numba==0.53.1
numexpr==2.7.3
numpy==1.20.3
numpy-groupies==0.9.13
olefile==0.46
packaging==20.9
pandas==1.2.5
pandocfilters==1.5.0
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.0.1
prometheus-client==0.11.0
prompt-toolkit==3.0.18
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==0.16.0
pyBigWig==0.3.18
pycparser==2.20
Pygments==2.8.1
pynndescent==0.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pyscenic==0.11.1
PySocks==1.7.1
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.26.0
requests-unixsocket==0.2.0
scanpy==1.7.2
scikit-learn==0.24.2
scikit-learn-intelex==2021.20210714.170431
scipy==1.7.1
seaborn==0.11.1
Send2Trash==1.8.0
setuptools==58.0.4
sinfo==0.3.1
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.3.0
statsmodels==0.12.2
stdlib-list==0.8.0
tables==3.6.1
tblib==1.7.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.9.1
torch-cluster==1.5.9
torch-geometric==2.0.1
torch-scatter==2.0.8
torch-sparse==0.6.12
torch-spline-conv==1.2.1
torchaudio==0.9.0a0+a85b239
torchvision==0.10.1
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typing-extensions==3.10.0.2
umap-learn==0.5.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
wheel==0.37.0
xlrd==1.2.0
yacs==0.1.6
yarl==1.5.1
zict==2.0.0
zipp==3.6.0
